*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    color: white;
}
.logo h1{
    margin-right:800px;
}

.box{
    background-color: rgb(146, 247, 249);
    padding: 120px;
    text-align: center;
    color: rgb(4, 38, 27);
    font-size: 38px;
}

.search{
    text-align: center;
    padding: 30px;
}
input{
     width:600px;
     height:60px;
     margin-right: 10px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 30px;
}  
.card-1{
    padding:40px;
    background-color: rgb(237, 164, 202);
}
.card-2{
    padding:40px;
    background-color:rgb(146, 247, 249);
} 
.card-3{
    padding:40px;
    background-color: rgb(203, 156, 248);
}
.card-4{
    padding:40px;
    background-color: rgb(255, 209, 150);
}
.card-5{
    padding:40px;
    background-color: rgb(145, 178, 237);
}
.card-6{
    padding:40px;
    background-color: rgb(186, 231, 141);
}
.new{
    background-color: black;
    height: auto;
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
}
.new h2{
    color:white;
    padding: 20px;
}
.new a{
    color:white;
    margin-left: 30px;
}
.new h3{
    color:white;
    padding: 20px;
}
.cont{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.shety{
    color:white;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left:1200px;
}